variables:
  SONAR_USER_HOME: '${CI_PROJECT_DIR}/.sonar' # Defines the location of the analysis task cache
  GIT_DEPTH: '0' # Tells git to fetch all the branches of the project, required by the analysis task

stages:
  - build
  - test
  - package

build:
  image: node:16
  stage: build
  script:
    - npm install
    - npm run build
  artifacts:
    paths:
      - build/*
  only:
    - merge_requests
    - master

test:
  image: node:16
  stage: test
  script:
    - npm install
    - npm run test:ci
  only:
    - merge_requests
    - master

lint:
  image: node:16
  stage: test
  script:
    - npm install
    - npm run lint
  only:
    - merge_requests
    - master

package:
  image: docker:19.03.12
  stage: package
  services:
    - docker:19.03.12-dind
  variables:
    IMAGE_TAG: $CI_REGISTRY_IMAGE:latest
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $IMAGE_TAG .
    - docker push $IMAGE_TAG
  only:
    refs:
      - master

sonarcloud-check:
  stage: test
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: ['']
  cache:
    key: '${CI_JOB_NAME}'
    paths:
      - .sonar/cache
  script:
    - sonar-scanner
  only:
    - merge_requests
    - master
